:root {
    --main-color: rgb(224, 242, 255);
    --secondary-color: rgb(88, 133, 255);
    --text-color: rgb(9, 21, 66);
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: min(38px, 10vh);
    font-family: "Helvetica", "Arial", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
.content {
    padding: 0px;
    margin: 0px;
    display: flex;
}
.image-container{
    flex: 40vw;
    height: 120vh;
    overflow: hidden;
    font-size: 1.5rem;
    position: relative;
    background-image: url(./images/blue.jpg);
    background-position: center;
    background-size: cover;
}

.travel{
    position: absolute;
    top: 10vw;
    width: 40vw;
    height: 150px;
    background-color: rgba(246, 246, 246, 0.7);
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    flex: 60vw;
    padding: .5rem 0; 
    font-weight: 700;
    
}
.header{
    padding-left: 2rem;
    padding-bottom: .5rem;
}
.sign-form{
    background-color: var(--main-color);
    border-radius: 15px;
    padding: .5rem 2rem;
    font-size: .4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    gap: 1.5rem;
}
.form-row{
    display: flex;
    flex-direction: column;
}
.form-row label {
    margin-bottom: .5rem;
}
.form-row input{
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    border: 4px solid var(--secondary-color);
    margin-bottom: .4rem;
    width: 250px;
    height: 25px;
    font-weight: 700;
    padding-left: 10px;
    color: var(--main-color);
}
.form-row button{
    background-color: var(--text-color);
    color: var(--main-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: .5rem;
    font-weight: bold;
    font-size: .4rem;
}
.form-row input::placeholder {
    color: rgb(90, 90, 90);
}
.form-row input:focus{
    background-color: rgb(255, 255, 255);
    outline: none;
    border: 4px solid var(--text-color);
    color: var(--text-color);
    font-weight: 700;
}
.form-row input:valid {
    border: 4px solid var(--text-color);
}
